root = true

[*]
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf
charset = utf-8

[*.py]
max_line_length = 119

[Makefile]
indent_style = tab
insert_final_newline = false
trim_trailing_whitespace = false

[*.md]
insert_final_newline = false
trim_trailing_whitespace = false
